@using RushHour.ViewModels;
@model IEnumerable<ViewActivitiesViewModel>

@{
    ViewBag.Title = "All activities";
}

<h2>All activities</h2>

@if (Model.Count() == 0)
{
    <p>There are no activities in the system yet.</p>
    @Html.ActionLink("Add a new activity", "AddActivity", "Activities")
}
else
{
    @Html.ActionLink("Add a new activity", "AddActivity", "Activities")
    <br />
    <br />
    <table id="activitiesTable">
        <thead>
            <tr>
                <th>Activity name</th>
                <th>Duration (in hours)</th>
                <th>Price</th>
                <th colspan="2">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (ViewActivitiesViewModel activity in Model)
            {
                <tr>
                    <td>@activity.Name</td>
                    <td>@(activity.Duration + " Hours")</td>
                    <td>@(activity.Price + " Лв.")</td>
                    <td>@Html.ActionLink("Edit", "EditActivity", "Activities", new { id = activity.ActivityId }, null)</td>
                    <td>@Html.ActionLink("Delete", "DeleteActivity", "Activities", new { id = activity.ActivityId }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}